html,
body {
  padding: 0;
  margin: 0;
  font-family: $base-font-family;
}

.container {
  max-width: $container-width;
  padding: 0 16px;

  @include media-lg-up {
    padding: 0;
    margin: 0 auto;
  }
}

.content {
  margin-top: 24px;
}
