@import "@/assets/scss/main";

.app-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
    font-weight: 600;

    &:hover {
      color: $color-accent;
    }
  }

  &__count {
    display: flex;
    align-items: center;
  }

  &__count-divider {
    display: inline-flex;
    width: 1px;
    height: 20px;
    margin: 0 12px;
    background: rgb(255, 255, 255);
    opacity: 0.4;
  }
}
