@import "@/assets/scss/main";

.app-nav {
  position: sticky;
  top: 20px;
  z-index: 1;
  background-color: #fff;
  border-radius: 20px;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    border-radius: 20px;
    padding: 12px 24px;
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #ff6900;
    text-shadow: 0 0 2px #242000;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
    font-weight: 600;

    &:hover {
      color: $color-accent;
    }
  }

  &__count {
    display: flex;
    align-items: center;
  }

  &__count-divider {
    display: inline-flex;
    width: 1px;
    height: 20px;
    margin: 0 12px;
    background: rgb(255, 255, 255);
    opacity: 0.4;
  }
}
