@use "sass:color";
@import "@/assets/scss/main";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  appearance: none;
  border: none;
  outline: none;
  color: $color-text;
  border-radius: 24px;
  font-size: 16px;
  line-height: 24px;
  font-family: $base-font-family;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;

  &.is-accent {
    background-color: $color-accent;
    color: #fff;

    &:hover {
      background-color: color.scale($color-accent, $lightness: -5%);
    }
  }

  &.is-secondary {
    background-color: $color-secondary;

    &:hover {
      background-color: color.adjust($color-secondary, $lightness: -5%);
    }
  }
}
