// container
$container-width: 1280px;

// font family
$base-font-family: "Nunito", -apple-system, "BlinkMacSystemFont", "Segoe UI",
  "Roboto", "Helvetica Neue", arial, "Noto Sans", sans-serif;

// colors
$color-accent: #ff6900;
$color-secondary: #fff0e6;
$color-text: #d15700;

// breakpoints
$breakpoint-sm: "576px";
$breakpoint-md: "768px";
$breakpoint-lg: "992px";
