.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
  gap: 24px;
  padding: 24px;
  border-radius: 20px;
  border: 0;
  outline: none;

  &__content {
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
  }
}
