@import "@/assets/scss/main";

.pizza-item {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-bottom: 60px;
  cursor: pointer;
  width: 47%;

  @include media-lg-up {
    width: 25%;
  }

  &__content {
    width: 100%;
  }

  &__image {
    position: relative;
    top: 0;
    transition: 0.3s ease;

    @include media-lg-down {
      max-width: 196px;
      max-height: 196px;
    }

    &:hover {
      top: 3px;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__price {
    padding-right: 4px;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
  }
}
